.container-sobre {
    height: 100vh;
    width: 100%;
    border-bottom: 2px solid #ba55d3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-sobre {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.quadrado {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    width: 550px;
    background-color: #ba55d3;
}

.texto-sobre {
    height: 60%;
    width: 70%;
}

.texto-sobre h3 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.texto-sobre p {
    line-height: 1.7rem;
    font-size: 0.8rem;
}

.imagem-sobre {
    height: 500px;
    width: 604px;
    background-image: url(../img/cristina.jpg);
    background-size: cover;
    position: absolute;
    left: 48%;
}